/* google font */
@import url("http://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* variables */
:root {
    /* font */
    --ff: "Inter", sans-serif;
    --fs-base: 15px;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;
    /* color */
    /* color general */
    --clr-primary: hsl(5, 85%, 63%);
    --clr-secondary: hsl(35, 77%, 62%);
    --clr-neutral-100: hsl(36, 100%, 99%);
    --clr-neutral-200: hsl(233, 8%, 79%);
    --clr-neutral-300: hsl(236, 13%, 42%);
    --clr-neutral-400: hsl(240, 100%, 5%);
    /* color specific roles */
    --clr-background-light: var(--clr-neutral-100);
    --clr-background-dark: var(--clr-neutral-400);
    /* --clr-base for paragraph, nav, and body text */
    --clr-base-light: var(--clr-neutral-200);
    --clr-base-dark: var(--clr-neutral-300);
    --clr-heading-light: var(--clr-neutral-100);
    --clr-heading-dark: var(--clr-neutral-400);
    --clr-heading-accent: var(--clr-secondary);
    --clr-button: var(--clr-primary);
}

/* reset */
/* box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default margin */
* {
    margin: 0;
}

/*  Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

/* tweaking line height */
body {
    line-height: 1.5;
}

/* font smooting */
body {
    -webkit-font-smoothing: antialiased;
}

/* media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* inherit font for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* word wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* remove text decoration anchor tag */
a {
    text-decoration: none;
    color: inherit;
}

/* remove list style */
ul {
    list-style: none;
}

/* display */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* news homepage */
body {
    width: 100%;
    background-color: var(--clr-background-light);
    color: var(--clr-base-dark);
    font-family: var(--ff);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
}

.container {
    width: calc(100% - 2rem);
    margin-inline: auto;
}

/* header */
.header {
    padding-block: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 2rem;
}

.nav {
    display: none;
}

.nav__menu-hamburger {
    width: 2rem;
}

/* main */
.main {
    gap: 3rem;
}
/* hero */

.hero__img--desktop {
    display: none;
}

.hero__img--mobile {
    padding-bottom: 1rem;
}

.hero__title {
    font-size: 2rem;
    font-weight: var(--fw-extrabold);
    color: var(--clr-heading-dark);
    line-height: 1.2;
    padding-bottom: 1rem;
}

.hero__paragraph {
    padding-bottom: 1.5rem;
}

.hero__btn {
    color: var(--clr-neutral-100);
    background-color: var(--clr-button);
    padding: 0.625rem 2rem;
    /* font-size: 14px; */
    letter-spacing: 2px;
    display: block;
    width: max-content;
}

/* aside */
.aside {
    background-color: var(--clr-background-dark);
    color: var(--clr-base-light);
    padding: 1rem;
}

.aside__title {
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    color: var(--clr-heading-accent);
    margin-bottom: 1rem;
}

.aside .card__title {
    font-size: 18px;
    font-weight: var(--fw-bold);
    color: var(--clr-heading-light);
    padding-bottom: 0.5rem;
}

.aside .card p {
    color: var(--clr-base-light);
    padding-bottom: 1rem;
}

.aside .line {
    background-color: var(--clr-neutral-300);
    opacity: 0.5;
    width: 100%;
    height: 2px;
    margin-bottom: 1rem;
}

/* footer */
.footer {
    gap: 2rem;
    padding-bottom: 3rem;
}
.footer .card {
    gap: 1rem;
    /* align-items: top; */
    grid-template-columns: 1fr 2fr;
}

.card__img {
    width: fit-content;
    /* height: fit-content; */
}

.content .number {
    font-weight: var(--fw-bold);
    font-size: 1.8rem;
    color: var(--clr-neutral-200);
}

.content .card__title {
    font-size: 18px;
    font-weight: var(--fw-bold);
    color: var(--clr-heading-dark);
    padding-bottom: 0.5rem;
}
